<h2>About Us</h2>
<p>nostrich.team was created to encourage the professional development and expension of the nostr protocol</p>

<h2>For 200,000 sats today, you can join us:</h2>
<ul>
  <li>A customized for you nostr t-shirt</li>
  <li>A valid NIP-05 nostrich.team domain name validation</li>
  <li>Access to our private nostr relay</li>
  <li>10% of all profits go to development on the nostr protcol or applications on top of it</li>
</ul>

<p>You can pay in sats with on-chain bitcoin, liquid, or lightning network <a href="https://classic.coinos.io/nostrich.team">to our CoinOS account</a>.</p>

<form
  action="https://formspree.io/f/xlekezra"
  method="POST"
>
  <label>
    nostr username:
    <input type="username" name="username">
  </label>
  <br />
  <label>
    *Public* nostr key:
    <input type="pubkey" name="pubkey">
  </label>
  <br />
  <label>
    Proof of payment hash <br />
    or tx id:<br />
    <input type="txid" name="txid">
  </label>
  <br />
  <label>
   Gender, size of t-shirt, <br />
   and mailing address:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/improvethings/nostrich.team">Our GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://krisconstable.com">About Kris</a>
  </li>
</ul>